.sparo-confirmation {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  box-shadow:0px 0px 1px 1px #dbdbdb;
  padding: 10px 0px;
  margin-bottom: 10px;
  /* height: 5em; */
}

.sparo-confirmation-notify {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}


div {
  margin: 0;
  padding: 0;
  display: block;
}

.sparo-confirmation.row {
    margin: 0 auto;
    /* max-width: 62.5rem; */
    width: 100%;
    /*padding-left: 15px;*/
}

.sparo-confirmation.row:before, .sparo-confirmation.row:after {
    content: " ";
    display: table;
}

.sparo-confirmation.row:after {
    clear: both;
}

.sparo-confirmation .small-10 {
  width: 75.33333%;
  /*width: 83.33333%;*/
}

.sparo-confirmation .small-2 {
  width: 16.66667%;
}

.sparo-confirmation .columns {
  position: relative;
  padding-left: 1.6rem;
  padding-right: 0.9375rem;
  float: left;
}

.sparo-confirmation .columns:last-child {
    float: right;
}

.sparo-confirmation .confirmation-header {
  font-weight: bold;
  font-size: 18px !important;
  font-family: "HelveticaNeue-Thin", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  color: #4d4d4d;
  margin-top: 5px;
}

html .sparo-confirmation .confirmation-subheader {
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  color: #4d4d4d;
}

.sparo-confirmation .charity-logo img {
  width:40px;
}

.sparo-confirmation .confirmation-change {
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  color: #0092DB;
  cursor: pointer;
}

.sparo-confirmation .confirmation-change:hover {
  text-decoration: underline;
}

.sparo-confirmation .center {
  text-align: center;
}
