.sparo-flyover-container {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  width: 400px;
  padding-left: 50px;
}
.sparo-flyover {
  width: 340px;
  min-height: 85px;
}

.sparo-flyover.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #ecfaff;
  color: #333333;
}

.sparo-flyover.radius {
  border-radius: 3px;
}

.sparo-flyover.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1em;
  background: #ecfaff;
  color: #333333;
  /*height: 56px;*/
}

html .sparo-flyover p {
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  color: #4d4d4d;
}

html .sparo-flyover a {
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  color: #0092DB;
  hover: underline;
  display: block;
  margin-top: 10px;
}

html .sparo-flyover.panel.callout a:not(.button) {
  color: #0092DB;
}

html .close-flyover {
  width: 12px;
  position: relative;
  float: right;
  cursor: pointer;
}
