.sparo-flyover-container {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  width: 400px;
  padding-left: 50px;
  z-index: 10;
}
.sparo-flyover {
  width: 300px;
  min-height: 92px;
  overflow: auto;
}

.sparo-flyover.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #ecfaff;
  color: #333333;
  opacity: 0.95;
}

.sparo-flyover.radius {
  border-radius: 3px;
}

.sparo-flyover.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1em 1em 0 1em;
  background: #4D4D4D;
  color: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue-Thin", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  /*height: 56px;*/
}

html .sparo-flyover p {
}

html .sparo-flyover a:hover {
  color: #0092db;
  background-color: #fff;
}

html .sparo-flyover a {
  color: #fff;
  font-size: 13px;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #fff;
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

div .sparo-flyover-message {
  float: left;
  font-size: 16px;
  width: 80%;
}

html .close-flyover {
  font-size: 35px;
  margin-top: -10px;
  margin-right: 5px;
  width: 12px;
  float: right;
  cursor: pointer;
}
